
$TEXT_BACKGROUND: #ffffff88;

html, body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    background: url("assets/images/wallpaper/amazon.jpeg") fixed center;
}

#static-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 8;
    background-color: white;
    border-bottom: 1px solid #a8a8a8;
    transition: all .2s;

    h1 {
        font-size: 124%;
        font-family: 'Zilla Slab',serif;
        margin-top: 12px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
    }

    img {
        height: 100%;
    }
}

#static-header.static-header-hidden {
    opacity: 0;
}

// page content
#page-content {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Zilla Slab', serif;
}

// header
#page-header {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    background-color: $TEXT_BACKGROUND;

    #page-title {
        font-size: 350%;
        font-family: 'Sacramento', serif;
        margin-bottom: 0;
        margin-top: 0;
    }

    p {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

// tabs
#page-body {

    height: 100%;

    #page-tab-controls {
        width: 100%;
        height: 38px;
        padding-top: 20px;
        text-align: center;
        background-color: $TEXT_BACKGROUND;

        > * {
            display: inline-block;
        }

        input[type="radio"] {
            display: none;
        }

        label {
            border: 1px solid gray;
            margin: 4px;
            padding: 2px 8px 2px 8px;
            cursor: pointer;
            transition: all .5s;
        }

        input[type="radio"]:checked + label {
            background: #684e7b;
            color: white;
            font-size: 120%;
        }
    }

    #page-tabs {

        position: relative;
        height: 100%;

        .page-tab {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 100px);
            opacity: 1;
            transition: all 1s;
            margin-bottom: 40px; // extra scroll
            background-color: $TEXT_BACKGROUND;
            padding-left: 50px;
            padding-right: 50px;
            min-height: 1000px;
            padding-bottom: 20px;
        }
        .tab-hidden {
            opacity: 0;
        }
    }
}

.item {
    width: 100%;
    min-height: 200px;
    margin-top: 40px;
    display: block;

    > .item-element {
        text-align: center;
    }
}

.item-template0 {

    > .item-element {
        display: inline-block;
        height: 100%;
        vertical-align: top;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }


    > .item-image {
        width: 398px;
    }
    > .item-text {
        width: calc(100% - 420px);
        padding: 10px;
    }
}



.item-template1 {
    position: relative;
    > .item-text {
        position: absolute;
        top: 60px;
        right: 90px;
        width: 370px;
        background-color: #ffffff6b;
        padding: 18px;
        border-radius: 20px;
    }
    > .item-image {
        width: 100%;
        height: 100%;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.item-template2 {

    > .item-text {
        width: 100%;
    }

    > .item-image {
        margin-top: 6px;
        width: 100%;
        img {
            max-width: 50%;
            max-height: 100%;
        }
    }
}


.item-template3 {
    min-height: 0;
    > .item-text {
        width: 100%;
    }
}

