
html, body {
    height: 100%;
    margin: 0;
}

body {
    position: relative;
    background-color: #cacaca;
}

#static-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 8;
    background-color: #cacaca;
    border-bottom: 1px solid #a8a8a8;
    transition: all .2s;

    h1 {
        font-size: 124%;
        font-family: 'Zilla Slab',serif;
        margin-top: 12px;
        margin-left: 20px;
    }
}

#static-header.static-header-hidden {
    opacity: 0;
}

// page content
#page-content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Zilla Slab', serif;
}

// header
#page-header {
    width: 100%;
    height: 150px;
    text-align: center;

    #page-title {
        font-size: 350%;
        font-family: 'Sacramento', serif;
        margin-bottom: 0;
        margin-top: 0;
    }
}

// tabs
#page-body {

    height: calc(100% - 150px);

    #page-tab-controls {
        width: 100%;
        height: 38px;
        text-align: center;

        > * {
            display: inline-block;
        }

        input[type="radio"] {
            display: none;
        }

        label {
            border: 1px solid gray;
            margin: 4px;
            padding: 2px 8px 2px 8px;
            cursor: pointer;
            transition: all .5s;
        }

        input[type="radio"]:checked + label {
            background: #684e7b;
            color: white;
            font-size: 120%;
        }
    }

    #page-tabs {

        position: relative;
        height: calc(100% - 38px);

        .page-tab {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 1;
            transition: all 1s;
            margin-bottom: 40px; // extra scroll

            // @TODO
            min-height: 1000px;
        }
        .tab-hidden {
            opacity: 0;
        }
    }
}
