div.item.item-template0
    div.item-element.item-image
        img(src="https://via.placeholder.com/240x200")
    div.item-element.item-text
        | It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

div.item.item-template0
    div.item-element.item-text
        | It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    div.item-element.item-image
        img(src="https://via.placeholder.com/240x200")

div.item.item-template1
    div.item-element.item-text
        | It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    div.item-element.item-image
        img(src="https://via.placeholder.com/240x200")
