div.item.item-template0
    div.item-element.item-image
        img(src="https://via.placeholder.com/240x200")
    div.item-element.item-text
        | Cras tristique, lorem eget fermentum posuere, ligula neque congue ante, ac ultrices ligula lectus nec eros. Curabitur maximus sollicitudin arcu.

div.item.item-template0
    div.item-element.item-text
        | Cras tristique, lorem eget fermentum posuere, ligula neque congue ante, ac ultrices ligula lectus nec eros. Curabitur maximus sollicitudin arcu.
    div.item-element.item-image
        img(src="https://via.placeholder.com/240x200")

div.item.item-template1
    div.item-element.item-text
        | Cras tristique, lorem eget fermentum posuere, ligula neque congue ante, ac ultrices ligula lectus nec eros. Curabitur maximus sollicitudin arcu.
    div.item-element.item-image
        img(src="https://via.placeholder.com/240x200")
