div.item.item-template0
    div.item-element.item-image
        img(src="assets/images/video-games/01.png")
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

div.item.item-template0
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
    div.item-element.item-image
        img(src="assets/images/video-games/02.png")

div.item.item-template1
    div.item-element.item-image
        img(src="assets/images/video-games/03.png")
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

div.item.item-template1
    div.item-element.item-image
        img(src="assets/images/video-games/04.png")
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

div.item.item-template3
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

div.item.item-template1
    div.item-element.item-image
        img(src="assets/images/video-games/05.png")
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

div.item.item-template2
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
    div.item-element.item-image
        img(src="assets/images/video-games/06.png")
        img(src="assets/images/video-games/07.png")

div.item.item-template0
    div.item-element.item-text
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
    div.item-element.item-image
        img(src="assets/images/video-games/08.png")
